<!DOCTYPE html>
<html>
<head>
  <title>Photosite</title>
</head>

<body bgcolor= "white">
<div style="color:#F7F7F7">
  <h1><center>PhotoSite</center></h1>
  <h3><center>Page of User's photo</center></h3>
</div>
<div>
  <center>
    <h1>Photos of <%= @user.first_name %> <%= @user.last_name %></h1>
    <% @photos.each do |photo| %>
      <center>
        <%= image_tag("https://photositebucket.s3.amazonaws.com/#{photo.file_name}") %>
        <h4> Photo Created At   <%= photo.date_time %></h4>
        <center>
          <% @comments.where("photo_id=?",photo.id).each do |comment| %>
            <li>
              <h4> Comment: <%= comment.comment_text %></h4>
              <h4> Created at: <%= comment.date_time %></h4>
              <h4> Posted by: <%= link_to display_name(comment.user_id) , user_photos_path(comment.user_id) %></h4>
            </li>
            </center>
          <% end %>
          </center>
      </ul>
      <br>
      </center>
      </div>
      <br>
    <%end%>

    </body>
</html>